src/UaDetector/Regexes/Resources/**/*.json filter=lfs diff=lfs merge=lfs -text
tests/UaDetector.Tests/Fixtures/Resources/**/*.json filter=lfs diff=lfs merge=lfs -text
*.eps filter=lfs diff=lfs merge=lfs -text
